$ch1: green;
$ch2: orange;
$ch3: black;


@mixin img($color) {
        justify-content: center;
        justify-items: center;
        align-items: center;
        text-align: center;
        padding: 1rem;
        width: 250px;
        height: 150px;
        opacity: 1;
        border: 2px double white;
        &:hover{
                border-radius: 20%;
                cursor: pointer;
                border: 2px double $color;
        }      
     }

.img1{
    @include img ($ch2)
}
.img2{
    @include img ($ch1)
}
.img3{
    @include img ($ch3)
}
 

        